
target/classes/.netbeans_automatic_build
target/classes/com/magicphi/javacodingchallenge/rainfallstrap/Main.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
/target/
/.idea/
